fastapi
uvicorn
pymongo
passlib
python-dotenv
chromadb
openai
fastapi 
uvicorn 
motor 
pydantic[email] 
python-jose[cryptography] 
passlib[bcrypt] 
python-multipart 
python-dotenv 
langchain 
langchain-openai 
langchain-community 
faiss-cpu 
openai 
docx2txt 
unstructured 
epub_conversion